.content {
	padding-top: 50px;
}

span.count {
    background-color: rgba(100, 190, 234, 0.79);
    padding: 3px 5px 1px 4px;
    text-shadow: 0 0 5px black;
    box-shadow: 0 0 1px black;
}

.footer {
	background-color: #222;
	text-align: center;
	height: 50px;
	position: absolute;
	bottom: 0; 
	width: 100%; 
	height: 60px; 
}

.footer p {
	margin-top: 15px;
}

html {
	position: relative;
	min-height: 100%;
}

body {
	margin-bottom: 60px;
	background-color: #d6d6d6;
}

.form-signin, .form-register,
 .reg-error, .reg-success {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.sub {
    display: inline-block;
    padding: 5px 10px;
    margin: 5px;
    box-shadow: 0 0 5px black;
    background-color: #1d9691;
    color: white;
    text-shadow: 0 0 5px black;
}

/*==================================*/
/*==== AUTHOR Page Styles ==========*/
/*==================================*/

.authorPanel {
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    font-size: 16px;
    padding: 10px 20px;
    text-transform: capitalize;
    background-color: #337ab7;
    box-shadow: 0 0 5px black;
    color: white;
}

.subscribeBtn {
    display: inline-block;
    margin-left: 10px;
}

.subscribeBtn a {
    color: white;
    text-decoration: none;
}

/*==================================*/
/*==== NEWS Page Styles ============*/
/*==================================*/

.newsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.newsWrap {
    box-shadow: 0 0 5px black;
    margin-bottom: 15px;
    border: 5px solid white;
}

@media (max-width: 1440px) {
    .newsWrap img {
        width: 600px;
    }
}

.newsInfo {
    margin-top: -5px;
    padding: 10px 20px;
    background-color: #222222;
    color: #777;
}

/*==================================*/
/*==== HOME Page Styles ============*/
/*==================================*/

form.searchForm {
    display: flex;
}

.subscribeBtn a:hover {
    transition: 0.25s;
    color: black;
    cursor: pointer;
}

input.searchInp {
    width: 200px;
    margin-left: 10px;
}

a.authorLink {
    position: absolute;
    text-transform: capitalize;
    transition: 1s;
    left: 20px;
    opacity: 0;
    top: 20px;
    color: #ffffff;
    text-decoration: none;
    padding: 2px 10px;
    box-shadow: 0 0 5px black;
    text-shadow: 0 0 5px black;
    background-color: rgba(255, 255, 255, 0.2);
}

.tiles li:hover .authorLink {
    opacity: 1;
}

.tiles li .authorLink:hover {
    color: black;
    text-shadow: 0 0 20px white;
    transition: 0.25s;
}

.tiles li:hover .descShow {
    opacity: 1;
}

.tiles {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 0;
    margin: 0;
}

.tiles li {
    list-style: none; 
    position: relative;
}

.tiles li img {
    width: 200px;
    height: 200px;
    margin: 10px;
    border: 5px solid white;
    box-shadow: 0 0 5px black;
}

.search-panel {
    width: 100%;
    height: 50px;
}

/*==================================*/
/*======== PROFILE PAGE ============*/
/*==================================*/

.container1 ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 0;
    margin: 0;
}

.container1 ul li {
    list-style: none; 
    position: relative;
}
  
.container1 ul li img {
    width: 200px;
    height: 200px;
    margin: 10px;
    border: 5px solid white;
    box-shadow: 0 0 5px black;
}

@media (max-width: 720px) {
	.container ul { 
  		justify-content: center;
  	}
}

/*+++++++++++++++++++++++++++++++++++++++++++++++*/
/*+++++++++++++++ Buttons for posts +++++++++++++*/
/*+++++++++++++++++++++++++++++++++++++++++++++++*/

.container1 ul li:hover .delBtn, 
.container1 ul li:hover .editBtn,
.container1 ul li:hover .saveBtn,
.container1 ul li:hover .descShow {
    opacity: 1;
} 

.editBtn:hover, .delBtn:hover,
.saveBtn:hover {
    color: black;
    transition: 0.2s; 
}

.editBtn:active, .delBtn:active,
.saveBtn:active {
    box-shadow: inset 0 0 5px 0px black;
} 

.delBtn {
    transition: 0.75s;
    cursor: pointer;
    opacity: 0;
    position: absolute;
    left: 164px;
    top: 20px;
    background-color: hsla(0, 0%, 93%, 0.35);
    font-size: 15px;
    text-align: center;
    padding: 10px;
    color: #ffffff;
    box-shadow: 0 0 5px 0px black;
    text-shadow: 0px 0px 5px black;
}

.editBtn {
    transition: 0.75s;
    cursor: pointer;
    opacity: 0;
    position: absolute;
    left: 124px;
    top: 20px;
    background-color: hsla(0, 0%, 93%, 0.35);
    font-size: 15px;
    border-radius: 2px;
    padding: 10px;
    color: #ffffff;
    box-shadow: 0 0 5px 0px black;
    text-shadow: 0px 0px 5px black;
}

.saveBtn {
    z-index: 10;
    transition: 0.75s;
    cursor: pointer;
    opacity: 0;
    position: absolute;
    left: 180px;
    top: 180px;
    background-color: hsla(0, 0%, 93%, 0.35);
    font-size: 15px;
    border-radius: 2px;
    padding: 5px;
    color: #ffffff;
    box-shadow: 0 0 5px 0px black;
    text-shadow: 0px 0px 5px black;
}

.hide {
    z-index: -10;
}

.description {
    transition: 0.75s;
    position: absolute;
    height: 50px;
    left: 15px;
    top: 155px;
    border: none;
    width: 190px;
    max-width: 190px;
    max-height: 50px;
    color: white;
    box-shadow: 0 0 5px black;
    padding: 5px 10px;
    background-color: rgba(165, 160, 160, 0.53);
    text-shadow: 0 0 5px black;
    resize: none;
    overflow: hidden;
}

/*+++++++++++++++++++++++++++++++++++++++++++++++*/
/*+++++++++++++++ Full Post Page ++++++++++++++++*/
/*+++++++++++++++++++++++++++++++++++++++++++++++*/

@media (max-width: 1440px) {
    .postFull img {
        width: 600px;
    }
}

.descFull {
    margin-top: -5px;
    padding: 10px 20px;
    background-color: #222222;
    border: 5px solid white;
    color: #777;
    border-top: transparent;
}

.postFull {
    display: flex;
    justify-content: center;
    align-items: center;
}

.postFull img {
    border: 5px solid white;
}

/*+++++++++++++++++++++++++++++++++++++++++++++++*/
/*+++++++++++++++ Upload Page +++++++++++++++++++*/
/*+++++++++++++++++++++++++++++++++++++++++++++++*/

#file, #upBtn {
    display: none;
}

span.holder {
    position: relative;
}

img.thumb {
    margin: 5px;
    box-shadow: 0 0 5px black;
    border: 1px solid rgba(12, 12, 12, 0.68);
}

a.prevDelBtn {
    transition: 1s;
    opacity: 0;
    position: absolute;
    left: 60px;
    top: -4px;
    color: white;
    box-shadow: 0 0 5px black;
    padding: 10px 10px;
    background-color: rgba(165, 160, 160, 0.53);
    text-shadow: 0 0 5px black;
    text-decoration: none;
}

a.descPrevBtn {
    transition: 1s;
    opacity: 0;
    position: absolute;
    left: 20px;
    top: -5px;
    color: white;
    box-shadow: 0 0 5px black;
    padding: 10px 10px;
    background-color: rgba(165, 160, 160, 0.53);
    text-shadow: 0 0 5px black;
    text-decoration: none;
}

a.saveDescPrevBtn {
    transition: 1s;
    opacity: 0;
    position: absolute;
    left: 20px;
    top: -17px;
    color: white;
    box-shadow: 0 0 5px black;
    padding: 10px 10px;
    background-color: rgba(165, 160, 160, 0.53);
    text-shadow: 0 0 5px black;
    text-decoration: none;
}

.descShow {
    transition: 1s;
    opacity: 0;
    position: absolute;
    width: 190px;
    height: 50px;
    left: 15px;
    top: 155px;
    color: white;
    box-shadow: 0 0 5px black;
    padding: 5px 10px;
    background-color: rgba(165, 160, 160, 0.53);
    text-shadow: 0 0 5px black;
    text-decoration: none;
}

.holder:hover .descPrevBtn, .holder:hover .prevDelBtn, 
.holder:hover .saveDescPrevBtn {
    opacity: 1;
} 

.descPrevBtn:active, .prevDelBtn:active,
.saveDescPrevBtn:active {
    box-shadow: inset 0 0 5px 0px black;
} 

.descPrevBtn:hover, .prevDelBtn:hover,
.saveDescPrevBtn:hover {
    color: black;
    transition: 0.2s; 
}

input.prevDesc {
    width: 100px;
    position: absolute;
    left: 5px;
    top: 22px;
}

.wrap {
    box-shadow: 0 0 5px black;
}