
<div class="authorPanel" ng-show="main.userIsLogin">
	<div class="userName">{{author.name}}</div>
	<div class="subscribeBtn"><a class="subscribeLink" ng-click="author.subscribe(author.name, main.username)">Подписаться</a></div>
</div>

<ul class="tiles" ng-show="main.userIsLogin">
	<li ng-repeat="image in images">
		<img ng-src="{{image.src}}">
		<div class="descShow {{ 'descShow-' + $index }}"> {{image.description}} </div>
	</li>
</ul>
<div class="alert alert-danger" ng-show="!main.userIsLogin"> Войдите в систему чтобы просматривать эту страницу. </div>