   <div class="container">

      <form class="form-signin" ng-submit="login.doLogin(login.loginData);">
        <h2 class="form-signin-heading">Пожалуйста войдите</h2>
        <label for="inputLogin">Логин:</label>
        <input type="text" id="inputLogin" class="form-control" placeholder="Login" required autofocus ng-model="login.loginData.username">
        <label for="inputPassword">Пароль:</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required ng-model="login.loginData.password">
        <div class="checkbox">
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Войти</button>
      </form>

      <div class="alert alert-success reg-success" ng-show="login.successMsg"> {{ login.successMsg }} </div>
      <div class="alert alert-danger reg-error" ng-show="login.errorMsg"> {{ login.errorMsg }} </div>

    </div>