
<div class="container" ng-show="main.userIsLogin">	
	<div class="container1" ng-controller="profileCtrl as pCtrl"> 
		<a class="btn btn-primary" href="/profile">{{main.username}}</a>
		<a class="btn btn-primary" href="/profile/subscribers">Подписчики <span class="count">				
			{{subscribers.length}}</span></a>
		<a class="btn btn-primary" href="/profile/subscribes">Подписки <span class="count">		
			{{subscribes.length}}</span></a>
		<ul>
			<li ng-repeat="post in posts" ng-attr-id=" {{ post._id }} ">
				<div ng-click="pCtrl.delPost(post, $index)" class="glyphicon glyphicon-remove delBtn {{ 'delBtn-' + $index }}"></div>
				<div ng-click="pCtrl.editPost(post, $index)" class="glyphicon glyphicon-pencil editBtn {{ 'editBtn-' + $index }}"></div>
				<div ng-click="pCtrl.savePost(post, $index)" class="glyphicon glyphicon-ok saveBtn hide {{ 'saveBtn-' + $index }}"></div>
				<textarea class="hide description {{ 'desc-' + $index }}" rows="3" wrap="soft" maxlength="50" autofocus> {{ post.description }} </textarea>
				<a href="/{{post.author}}/post/{{post._id}}" ng-click="goToPost(post)"><img ng-src="{{post.src}}" alt="картинка"></a>
				<div class="descShow {{ 'descShow-' + $index }}"> {{ post.description }} </div>
			</li>
		</ul>
	</div>		
</div>

<div class="alert alert-danger" ng-show="!main.userIsLogin"> Войдите в систему чтобы просматривать эту страницу. </div>



