<div class="container" ng-show="main.userIsLogin">	
	<div class="container1" ng-controller="profileSubscribersCtrl as subscribers"> 
		<a class="btn btn-primary" href="/profile">{{main.username}}</a>
		<a class="btn btn-primary" href="/profile/subscribers">Подписчики <span class="count">
			{{subscribers.length}}</span></a>
		<a class="btn btn-primary" href="/profile/subscribes">Подписки <span class="count">
			{{subscribes.length}}</span></a>
		<ul>
			<li ng-repeat="sub in subscribers">
				<a href="/profile_{{sub}}" class="sub btn"> {{ sub }} </a>	
			</li>
		</ul>
	</div>		
</div>

<div class="alert alert-danger" ng-show="!main.userIsLogin"> Войдите в систему чтобы просматривать эту страницу. </div>